.dashboard {

    width: min(950px, 90%);

    margin: 40px auto 80px;

}


.dashboard h1 {

    font-size: 40px;

    margin-top: 15px;

}


.dashboard-subtitle {

    color: #a5aecb;

    margin-top: 10px;

}


/* STATS */

.stats-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 12px;

    margin-top: 28px;

}


.stat-card {

    padding: 20px;

    background: #151c34;

    border:
        1px solid #2b3553;

    border-radius: 17px;

}


.stat-card span {

    color: #a5aecb;

    font-size: 11px;

}


.stat-card strong {

    display: block;

    font-size: 26px;

    margin-top: 8px;

}


/* CHARTS */

.charts {

    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 15px;

    margin-top: 22px;

}


.chart-card {

    height: 390px;

    padding: 20px;

    background: #151c34;

    border:
        1px solid #2b3553;

    border-radius: 18px;

}


.chart-card h2 {

    font-size: 19px;

}


/* BAR CHART */

.bar-chart {

    height: 280px;

    margin-top: 30px;

    display: flex;

    justify-content: space-around;

    align-items: end;

    border-bottom:
        1px solid #303955;

}


.bar-chart div {

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: end;

    align-items: center;

}


.bar-chart span {

    width: 38px;

    background: #397bab;

    display: block;

    border-radius:
        3px 3px 0 0;

}


.bar-chart label {

    color: #8993b3;

    font-size: 10px;

    margin-top: 8px;

}


/* DONUT */

.donut {

    width: 260px;

    height: 260px;

    border-radius: 50%;

    margin: 45px auto;

    background:
        conic-gradient(
            #ff5d7d 0% 100%
        );

    display: flex;

    align-items: center;

    justify-content: center;

}


.donut::before {

    content: "";

    position: absolute;

}


.donut-center {

    width: 140px;

    height: 140px;

    border-radius: 50%;

    background: #151c34;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 22px;

    font-weight: bold;

}


/* COMPLETED */

.completed-section {

    position: relative;

    margin-top: 20px;

    padding: 25px;

    min-height: 110px;

    background: #151c34;

    border:
        1px solid #2b3553;

    border-radius: 18px;

}


.completed-section p {

    margin-top: 15px;

    color: #9fa9c7;

    font-size: 13px;

}


.back-btn {

    position: absolute;

    right: 20px;

    top: 20px;

    padding: 8px 13px;

    border-radius: 8px;

    border: 1px solid #35405f;

    color: white;

    text-decoration: none;

    font-size: 12px;

}


@media(max-width: 800px) {

    .stats-grid {

        grid-template-columns: 1fr 1fr;

    }

    .charts {

        grid-template-columns: 1fr;

    }

}


@media(max-width: 500px) {

    .stats-grid {

        grid-template-columns: 1fr;

    }

}